html {
  font-family: $font-serif;
}
.usa-sidenav-list a {
  font-family: $font-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
  margin: 1em 0;
  padding: 0;
}

pre,
code {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray-lighter;
  color: $color-gray;
  font-family: $font-code;
  font-size: 0.9em;
}

pre {
  border-radius: 3px;
  padding: 1em;

  code {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

code {
  border-radius: 3px;
  padding: 3px;
}

code[class*='language-'],
pre[class*='language-'] {
  color: $color-gray;
  font-family: $font-code;
  text-shadow: none;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray-lighter;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $color-green;
}

.token.punctuation {
  color: $color-gray;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent;
  color: $color-gray;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $color-primary;
}

pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
  background: $color-white;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $color-primary;
  padding: 5px;
}
